body{
  background: url(/img/subtle_dots.png);
  font-weight: 400 !important;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 50px;
}
.fixed.contain-to-grid{
  height: 50px;
}
.transition, a, a div, .anim{
  -webkit-transition: ease .2s;
  -moz-transition: ease .2s;
  -o-transition: ease .2s;
  transition: ease .2s;
}
.fancy-heading, .work a, h1, h2, h3, h4{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}
h1{
  font-size: 4em;
  margin: 1em 0;
  line-height: 1.2em;
}
h2{
  margin: 0.5em 0 0 0;
}
b, strong{
  font-weight: 400;
}
ul{
  list-style: none;
}
i[class^="icon-"]{
  display: inline-block !important;
}
#logo{
  line-height: 50px;
  vertical-align: middle;
}
.title-area{
  background: none !important;
}
.top-bar, .contain-to-grid{
  background: url(/img/blackorchid.png);
}
.top-bar a{
  font-size: 1.1em !important;
  font-weight: 400 !important;
  background: none !important;
}
.top-bar a:hover{
  color: #bedd15; 
}
.top-bar-section ul{
  background: none;
}
.toggle-topbar a{
  text-indent: -60px !important;
}
#main{
  margin-top: 30px;
}
.competencies .abs{
  width: 100%;
  opacity: 0.85;
}
.competencies .columns{
  padding: 0;
}
.competencies .copy{
  font-size: 140px;
  line-height: 0.9em;
  text-transform: uppercase;
  margin: 0.6em 0;
}
.competencies span{
  font-size: 1.2em;
  vertical-align: top;
}
.competencies .anim{
  margin: 1em 1em -1.5em 1em;
}
.competencies .anim img{
  margin: 15px auto;
  display: block;
}
.competencies .anim .bottom{
  text-align: center;
}
.grey-bar{
  border-top: 1px solid rgba(0,0,0,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.3);
  background: rgba(0,0,0,0.05);
}
.services{
  margin-top: 2em;
  padding: 4em 0;
}
.services .columns{
  padding-top: 135px;
}
.services .columns h2{
  font-size: 2.5em;
  text-align: center;
}
.services .columns p{
  text-align: center;
}
.services a{
  color: #000;
  text-decoration: underline;
}
.services a:hover{
  background: #bedd15;
}
.train{
  background: url(/img/icons/train.png) center 40px no-repeat;
}
.audit{
  background: url(/img/icons/audit.png) center 45px no-repeat;
}
.program{
  background: url(/img/icons/program.png) center 20px no-repeat;
}
.work{
  padding-top: 6em;
  margin-bottom: 6em;
}
.work .row{
  margin-bottom: 4em;
}
.read-more-work{
  text-align: center;
}
.read-more-work a{
  color: #222 !important;
  font-weight: 400;
  text-decoration: underline;
}
a.anim{
  text-transform: uppercase;
  font-size: 1.7em;
  margin-bottom: -1.5em;
  display: block;
}
.anim .front{
  background: rgba(190,221,21, 1);
  color: #000;
  height: 56px;
  border-bottom: 1px solid black;
  padding-left: 5px;
  overflow: hidden;
}
.anim:hover .front{
  -webkit-transform: translateZ(-56px) translateY(-28px) rotateX(90deg);
  -moz-transform: translateZ(-56px) translateY(-28px) rotateX(90deg);
}
.anim .bottom{
  padding-left: 5px;
  background: #000;
  color: #fff;
  height: 56px;
  line-height: 56px;
  border-top: 1px solid rgba(190,221,21,1);
  overflow: hidden;
  -webkit-transform: translateZ(-28px) translateY(-28px) rotateX(-90deg);
  -moz-transform: translateZ(-28px) translateY(-28px) rotateX(-90deg);
}
.anim:hover .bottom{
  -webkit-transform: translateZ(56px) translateY(-56px) rotateX(0deg);
  -moz-transform: translateZ(56px) translateY(-56px) rotateX(0deg);
}
.bg{
  border-top: 1px solid rgba(0,0,0,0.7);
  background: url(/img/talks.jpg);
  background-size: cover;
  background-position: center bottom;
}
.contact{
  padding: 2em 0;
}
.contact a{
  /*color: #fff !important;*/
  color: #333;
  font-size: 2em;
  display: inline-block;
  /*text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);*/
}
.contact a:hover{
  color: #bedd15 !important; 
}
.overlay{
  background: url(/img/overlay.png);
  height: 699px;
  padding: 2em 0;
}
.iconz a{
  margin: 0.3em;
}
#posts .title{
  background: rgba(190,221,21, 1);
  color: #000 !important;
  display: inline-block;
  font-size: 0.9em;
}

#posts h2{
  margin: 0.5em 0 0 0.5em;
}

.more{
  text-decoration: underline;
  color: #222 !important;
} 

#posts .date{
  background: #222;
  color: #fff;
  float: right;
  padding: 3px;
}

#posts .excerpt{
  margin: 1em 0 5em 0;
}

.body{
  background: #fff;
  box-shadow: 0 0 19px rgba(0,0,0,0.1);
  padding: 3em 2em;
  margin: 1em 0 5em 0;
  font-size: 1.2em;
}
.body ul,
.body ol{
  margin-left: 1.5em;
}
.body h2{
  margin: 1.5em 0 0 0;
}
.body strong{
  font-weight: bold;
}
#footer{
  padding: 1em 0;
  border-top: 2px solid #000;
  text-align: center;
  background: url(/img/blackorchid.png);
  color: #555;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .abs{
    position: absolute;
  }
  .competencies .anim{
    width: 300px;
    margin: -37% auto 0 auto;
  }

  .contact a{
    font-size: 2.7em;
  }
}
