---
layout: default
---
<div class="fancy-heading competencies">
  <div class="row">
    <div class="large-12 small-12 columns">
      <div class="copy">
        Responsive,<br/>
        Full&mdash;stack,<br/>
        Ruby<span>+</span>Rails,<br/>
        eCommerce.
      </div>
      <div class="abs"><a href="#contact" class="anim"><div class="front"><img src="/img/logo-white.png" /></div><div class="bottom">Get <b>in touch</b>!</div></a></div>
    </div>
  </div>
</div>

<div class="services" id="services">
  <div class="row">
    <div class="large-4 small-12 columns">
      <h2>Train</h2>
      <p>Having <a href="#">instructing experience</a> makes me a candidate for developing your internal team.</p>
    </div>
    <div class="large-4 small-12 columns">
      <h2>Audit</h2>
      <p>From <a href="/2013/08/25/tuning-frontend-performance.html">frontend performance</a> to <a href="/2013/08/30/organic-seo-strategy.html">longterm SEO strategy</a>, I conduct internal &amp; external product audits. </p>
    </div>
    <div class="large-4 small-12 columns">
      <h2>Program</h2>
      <p>I will travel around the San Francisco Bay Area to augment your onsite team with my <a href='#'>skills &amp; experience</a>.</p>
    </div>
  </div>
</div>

<div class="work" id="work">
  {% for post in site.posts %}
  {% if post.featured %}
  {% cycle 'group1': '<div class="row">','' %}
    <div class="large-6 small-12 columns">
      <a class="anim" href="{{ post.url }}"><div class="front">{{ post.title }}</div><div class="bottom">{{ post.subhead }}</div></a>
      <p>{{ post.excerpt }}</p>
    </div>
  {% cycle 'group2': '', '</div>' %}
  {% endif %}
  {% endfor %}

  <div class="read-more-work">
    <a href="/blog.html">See the entire archive</a>
  </div>
</div>
