  </div>

  <div class="contact" id="contact">
    <div class="overlay">
      <div class="row">
        <div class="large-6 large-centered small-12 small-centered columns">
          <div class="tint">
            <div class="iconz">
              <a target="_blank" href="https://twitter.com/jumph4x"><i class="large icon-twitter-sign"></i><span> twitter</span></a>
              <a target="_blank" href="https://github.com/jumph4x"><i class="large icon-github-sign"></i><span> github</span></a>
              <a target="_blank" href='ma&#105;lto&#58;&#37;6&#52;%&#54;5n&#105;&#115;%&#52;0dow%6&#69;s&#104;iftlabs&#46;&#99;o%6D'><i class="large icon-envelope"></i><span> email</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer">
    &copy; 2012-2013 Downshift Labs, LLC. Be excellent to each other.
  </div>

  <script src="/js/vendor/jquery.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script src="/js/jquery.fittext.js"></script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2844090-9']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    $(document).foundation();
    $('.competencies .copy').fitText(0.7);
  </script>

</body>
</html>
