<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>eCommerce Consultant in SF Bay Area | Downshift Labs</title>
  <link rel="stylesheet" href="/css/foundation.css">
  <link rel="stylesheet" href="/css/downshift.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:100,400' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <script src="/js/vendor/custom.modernizr.js"></script>
</head>
<body>
  <div class="contain-to-grid fixed">
    <nav class="top-bar">
      <ul class='title-area'>
        <li class="name"><a href="/" id="logo" class="anim"><img src="/img/logo.png" /></a></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right fancy">
          <li><a href="/#services">Services</a></li>
          <li><a href="/#work">Work</a></li>
          <li><a href="#contact">Get in touch</a></li>
        </ul>
      </section>
    </nav>
  </div>

  <div id="main" role="main">
